body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE/Edge */
    user-select: none;
    /* non-prefixed version, currently
                                  not supported by any browser */
}

rect.snake {
    fill: #555353;
}

rect.food {
    fill: #45720B;
}

.pattern {
    background: url("pattern.png") center/cover no-repeat transparent;
    background: url("pattern.svg") center/cover no-repeat transparent;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    border-image-repeat: stretch;
    pointer-events: none;
}

img {
    z-index: 2;
}

div#container {
    height: 50vmin;
    width: 50vmin;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background-color: white;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.border {
    pointer-events: none;
}

html,
body {
    background-color: #ff1d25;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.text {
    font-family: 'Overlock', cursive;
    font-size: 1.5em;
}

img {
    max-width: 100%;
}

.selector {
    background-color: white;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 3px;
}

.bottom.bar {
    height: 10px;
    background-color: #cccccc;
    bottom: 0;
    width: 100%;
    position: absolute;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.navLink {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: #ff1d25;
    font-weight: 800;
}

.gameicon {
    left: 0;
    right: 0;
    top: 10px;
    margin: auto;
    position: absolute;
}

.centeredheader {
  left: 0;
  right: 0;
  top: 15vh;
  margin: auto;
  position: absolute;
  text-align: center;
  color: white;
  font-family: futura-pt, 'Futura Std', Futura, Arial, sans-serif;
}

line {
    stroke: black;
    stroke-width: 2;
}

@media (min-width:767px) {
    .ui.centered {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        position: absolute;
    }
}
