div#container {
    border: 4px solid gray;
}

    border: 1px solid #ccc;
.brick,
.removed {
    height: 10px;
    margin: 1px;
    display: inline-block;
}

.brick {
    background-color: rgb(122, 201, 67);
    /*border-color: #777;*/
    border-radius: 2px;
}

.brick:nth-child(2n) {
    background-color: rgb(0, 113, 188);
}

.brick:nth-child(3n) {
    background-color: rgb(41, 171, 226);
}
.brick:nth-child(5n) {
    background-color: rgb(255, 147, 30);
}

.brick:nth-child(7n) {
    background-color: rgb(133, 96, 168);
}

.brick:nth-child(11n) {
    background-color: rgb(204, 204, 204);
}

.removed {
    border-color: transparent;
}

#paddle {
    height: 8px;
    background-color: #2f2f2f;
    position: absolute;
    bottom: 10px;
    border-radius: 2px;
    z-index: 10;
}

#ball {
    border: 1px solid #955;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fdd), color-stop(100%, #500));
    background: -webkit-linear-gradient(top,  #fdd 0%, #500 100%);
    background: linear-gradient(to bottom,  #fdd 0%, #500 100%);
    border-radius: 50%;
    position: absolute;
    z-index: 5;
}

#lifesNode,
#scoreNode {
    position: absolute;
    right: -85px;
    font: 14px arial, helvetica, sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1px 0;
    width: 75px;
    text-align: center;
}

#lifesNode {
    top: 20px;
}

#lifesNode:before {
    content: 'lifes: ';
}

#scoreNode {
    top: 50px;
}

#scoreNode:before {
    content: 'score: ';
}